{% extends "base_tabs.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}
    Review {{ reimb.hacker.get_full_name }}'s reimbursement
{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'lib/bars-square.css' %}">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block panel %}
    {% if reimb %}
        <div class="{% if user.is_director or reimb %}col-md-8 margin-right{% else %}col-md-12{% endif %}">
            <h2>Review {{ reimb.hacker.get_full_name }}'s reimbursement</h2>
            <a target="_blank" style="color:black; text-decoration: none;" class="pull-right fa-solid fa-link"
               href="{% url 'reimbursement_detail' reimb.pk %}">
            </a>

            <dl class="dl-horizontal">
                <dt>
                <h3>Personal</h3>
                </dt>
                <dd></dd>
                {% include 'include/field.html' with desc='Full name' value=reimb.hacker.name %}
                {% include 'include/field.html' with desc='Email' value=reimb.hacker.email %}
                {% include 'include/field.html' with desc='Deadline' value=reimb.expiration_time|naturaltime %}
                {% include 'include/field.html' with desc='Country' value=reimb.origin_country %}
                {% include 'include/field.html' with desc='City' value=reimb.origin %}
                <hr>
                <dt>
                <dt>
                <h3>Status</h3>
                </dt>
                <dd></dd>
                {% include 'include/field.html' with desc='Status' value=reimb.get_status_display %}
                {% if reimb.public_comment %}
                    {% include 'include/field.html' with desc='Reject reason' value=reimb.public_comment %}
                {% endif %}
                {% if reimb.devpost %}
                    {% include 'include/field.html' with desc='Devpost Link' value='<a href="'|add:reimb.devpost|add:'" target="_blank">'|add:reimb.devpost|add:"</a>"|safe %}
                {% endif %}
                {% if reimb.is_pending_demo_validation %}
                    <br>
                    <form action="" method="post" name="validate_form">
                        {% csrf_token %}
                        <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                        
                        <div class="col-md-6" style="padding: 0; display: flex; gap: 10px; width: 100%;">
                            <button name="validate" class="btn btn-success btn-block"
                                    value="validate">Validate
                            </button>
                            <br>
                            <button name="reject" class="btn btn-danger btn-block"
                                    value="invalidate">Invalidate
                            </button>
                        </div>
                    </form>
                    <br>
                    <hr>
                {% endif %}
                <hr>
                <dt>
                <h3>Receipt</h3>
                </dt>
                <dd></dd>
                {% if reimb.receipt %}
                    {% include 'include/field.html' with desc='Receipt' value='<a href="'|add:reimb.receipt.url|add:'" target="_blank">'|add:reimb.receipt.name|add:"</a>"|safe %}
                {% endif %}
                {% include 'include/field.html' with desc='Maximum assignable' value=reimb.max_assignable_money %}

                {% if reimb.is_accepted or reimb.is_pending_demo_validation or reimb.is_finalized %}
                    <hr>
                    <dt>
                    <h3>Accepted</h3>
                    </dt>
                    <dd></dd>
                    {% include 'include/field.html' with desc='Reimbursement money' value=reimb.reimbursement_money %}
                    {% include 'include/field.html' with desc='PayPal email' value=reimb.paypal_email %}
                {% endif %}
            </dl>
        </div>

        {% if user.is_director %}
        <div class="col-md-4 margin-left">

            <form action="" method="post" class="form" name="edit_form">
                {% csrf_token %}
                <h4>Edit reimbursement</h4>
                {% bootstrap_form edit_form %}
                <button name="invite" class="btn btn-success btn-block"
                        value="invite">Submit changes
                </button>
            </form>
            <br>
        </div>
        {% endif %}
        <div class="col-md-4 margin-left">
            <hr>
            <h4 class="text-center">Reject receipt</h4>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                {% bootstrap_form reject_form %}
                <button name="reject" class="btn btn-danger btn-block"
                        value="reject">Reject
                </button>
            <hr>
            <hr>
            </form>
            <h4 class="text-center">Accept receipt</h4>
            <form action="" method="post">
                {% csrf_token %}
                <input type="hidden" name="id" value="{{ reimb.pk }}"/>
                {% bootstrap_form accept_form %}
                <button name="accept" class="btn btn-success btn-block"
                        value="accept">Accept
                </button>
            </form>

        </div>
        



    {% else %}
        <h4 class="text-center">No receipts left to be reviewed.<br> Good job! Enjoy the
            sun outside!</h4>

    {% endif %}
    <script src="{% static 'lib/typeahead.min.js' %}"></script>
    <script src="{% static 'js/form_modifiers.js' %}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

    <script>

        $(document).ready(function () {
                var exp_time = $('input[name="expiration_time"]');
                let value = exp_time.val()
                if (value === '') value = moment().startOf('day')
                exp_time.daterangepicker({
                    timePicker: true,
                    singleDatePicker: true,
                    timePickerIncrement: 30,
                    startDate: value,
                    locale: {
                        format: 'YYYY-MM-DD H:mm:ss'
                    }
                });
            }
        );
        fetch('{% static 'cities.json' %}')
        .then((response) => response.json())
        .then((json) => {
            let cities_dict = {};
            $("#id_origin").typeahead({
                minLength: 3,
                source: function (query, process) {
                    // read from cities.json and check if the query matches any city
                    var matches = [];
                    // find the strings starting with the query
                    $.each(json, function (i, city) {
                        if (city.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                            matches.push(city);
                        }
                    });
                    return process(matches);
                }
            });
        });

    </script>

{% endblock %}

{% block out_panel %}

{% endblock %}
