{% extends "base_tabs.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}Reimbursement{% endblock %}

{% block panel %}


    {% if reimbursement.can_submit_receipt %}
        {% include 'include/r_status.html' %}
        <script src="{% static 'lib/typeahead.min.js' %}"></script>
        <script src="{% static 'js/form_modifiers.js' %}"></script>
        <script>
            $(document).ready(function () {
                let receipt = document.getElementById('id_receipt');
                receipt.accept = '.pdf';

                fetch('{% static 'cities.json' %}')
                .then((response) => response.json())
                .then((json) => {
                    let cities_dict = {};
                    $("#id_origin").typeahead({
                        minLength: 3,
                        source: function (query, process) {
                            // read from cities.json and check if the query matches any city
                            var matches = [];
                            // find the strings starting with the query
                            $.each(json, function (i, city) {
                                if (city.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                                    matches.push(city);
                                }
                            });
                            return process(matches);
                        }
                    });
                })
            });
        </script>
        <h3>Reimbursement information</h3>
        <dl>
            <dt>Amount</dt>
            <dd>
                <p style="color: #a1a1a1;">Still to be determined.</p>
                <p>To know how much you will be able to receive as a travel aid, please check our website's <a href="https://www.hackupc.com#faqs" target="_blank">FAQs</a>.</p>
            </dd>
            {% if reimbursement.public_comment %}
                <dt>Comment</dt>
                <dd>{{ reimbursement.public_comment }} -
                    <small>comment by {{ reimbursement.reimbursed_by.email|urlize }}</small>
                </dd>
            {% endif %}
        </dl>
        <div style="background-color: #fff3cd; padding: 15px; border-radius: 5px; display: inline-block; border: 1px solid #ffeeba;">
            <p class="reimb-info" style="margin: 0; color: #856404;">
                <i class="fa-solid fa-triangle-exclamation" style="color: #856404;"></i> <strong>Remember!</strong> 
                You have to submit only one document containing all travel expenses. Do not worry if you have more than one ticket, or if your document
                contains tickets for more than one hacker. However, make sure that each of your team members submits the document.
            </p>
        </div>
        <div>
            <br>
        </div>
        {% include "include/reimbursement_form.html" %}
        </div>
        <div class="panel-footer">
            Expires
            in {% include 'include/deadline_countdown.html' with timeleft=reimbursement.timeleft_expiration id='expiration_reimb_count' %}
        </div>
    {% else %}
        {% if reimbursement.waitlisted %}
            {% include 'include/r_status.html' %}
            {% include 'include/waitlisted_reimbursement.html' %}
        {% elif reimbursement.expired %}
            {% include 'include/r_status.html' %}
            Unfortunately your travel reimbursement has expired. We sent your travel reimbursement
            {{ reimbursement.update_time|timesince }} ago but you haven't uploaded a valid ticket. Send us an email to
            {{ h_contact_email|urlize }} if you
            think this is an error.
        {% elif reimbursement.has_friend_submitted %}
            {% include 'include/r_status.html' %}
            <p>Your friend {{ reimbursement.friend_submission.hacker.get_full_name }}
                ({{ reimbursement.friend_submission.hacker.email }}) already uploaded a receipt that covered
                your travel. Let us know if you think this is an error.</p>
        {% else %}
            {% include 'include/r_status.html' %}

            <dl>
                {% if reimbursement.is_finalized %}
                    <div style="padding: 15px; border-radius: 5px; display: inline-block; border: 1px solid #000000;">
                        <p class="team-info" style="margin: 0; color: #3c763d;">
                        <i class="fa-solid fa-triangle-exclamation" style="color: #2b542c;"></i> <strong>Good News!</strong> Your reimbursement has been validated and everything looks nice! Please be patient, as the money can take up to 2 months to show up in your account.
                        </p>
                    </div>
                    <div>
                        <br>
                    </div>
                {% elif reimbursement.is_accepted %}
                    {% include "include/devpost_form.html" %}
                {% endif %}
                <br>
                <dt>Origin</dt>
                <dd>{{ reimbursement.origin }}</dd>
                <br>
                {% if not reimbursement.is_draft  and not reimbursement.waitlisted %}
                    <dt>Amount</dt>
                    <dd>
                        {% if not reimbursement.reimbursement_money or reimbursement.reimbursement_money == 0 %}
                            <p style="color: #a1a1a1;">Still to be determined.</p>
                            <p>To know how much you will be able to receive as a travel aid, please check our website's <a href="https://www.hackupc.com#faqs" target="_blank">FAQs</a>.</p>
                        {% else %}
                            {{ reimbursement.reimbursement_money }}{{ h_currency }}
                        {% endif %}
                    </dd>
                    <br>
                    <dt>Uploaded Receipt</dt>
                    <dd>
                        <a href="{{ reimbursement.receipt.url }}" target="_blank">{{ reimbursement.receipt.name }}</a>
                    </dd>
                {% endif %}
                {% if reimbursement.can_submit_receipt %}
                    <dt>Expiration countdown</dt>
                    <dd>{% include 'include/deadline_countdown.html' with timeleft=reimbursement.timeleft_expiration id='expiration_reimb_count' %}</dd>
                {% endif %}
                {% if reimbursement.public_comment %}
                    <dt>Reason</dt>
                    <dd>{{ reimbursement.public_comment }} -
                        <small>comment by {{ reimbursement.reimbursed_by.email|urlize }}</small>
                    </dd>
                {% endif %}
                {% if reimbursement.devpost %}
                    <dt>Devpost Link</dt>
                    <dd><a href="{{ reimbursement.devpost }}" target="_blank">{{ reimbursement.devpost }}</a></dd>
                {% endif %}
            </dl>

            
            {% if h_r_requirements %}<p><span class="text-warning">WARNING:</span> {{ h_r_requirements }}</p>{% endif %}
        {% endif %}
    {% endif %}
{% endblock %}


