db.sqlite3
staticfiles
*.template
.env
env
.github
.circleci
tmp
files/resumes_hackers/
files/
.git
.gitignore
node_modules
*.log
.venv
venv
__pycache__
*.pyc
.DS_Store
.vscode
.idea
*.egg-info
dist
build
