{% extends "base_tabs.html" %}
{% load humanize %}
{% load bootstrap3 %}
{% load static %}
{% block head_title %}Profile{% endblock %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'lib/bars-square.css' %}">
    <link rel="stylesheet" href="{% static 'css/vote.css' %}">
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}
{% block panel %}
  <h2 style="text-align: center">Profile</h2>
  <div>
    <h3>Personal data</h3>
    <hr>
    <p>If you haven't applied yet you can change your user and apply as hacker, mentor or volunteer</p>
    <form enctype="multipart/form-data" id="profile_change" method="post" action="">
        {% csrf_token %}
        {% bootstrap_form_errors form %}
        {% for field in form %}
            {% bootstrap_field field %}
        {% endfor %}
        <button class="btn-block btn btn-success margin-bottom">Update Profile</button>
    </form>

    <details class="delete-section">
      <summary style="display: inline-block; padding: 8px 16px; cursor: pointer; font-size: 16px;">
        Advanced options <span class="caret"></span>
      </summary>
      <hr>
      <h3>Delete account</h3>
      <div style="display: flex; align-items: center; gap: 1em;">
        <span style="margin: 0;">
          You can delete your account with all the personal data from your user and applications. 
          <strong>This action cannot be reverted.</strong>
        </span>
        <a href="{% url 'user_profile_delete' %}" class="btn delete-button" style="white-space: nowrap;">Delete account</a>
      </div>
    </details>

{% endblock %}

{% block out_panel %}

{% endblock %}
