{% extends "base.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
    <div class="menu-container">
        <a href="{% url 'signup_hacker' %}" 
        class="menu-item {% if request.resolver_match.url_name != 'signup_mentor' and request.resolver_match.url_name != 'signup_volunteer' %}active{% endif %}">
        Hacker
        </a>
        <a href="{% url 'signup_mentor' %}" 
        class="menu-item {% if request.resolver_match.url_name == 'signup_mentor' %}active{% endif %}">
        Mentor
        </a>
        <a href="{% url 'signup_volunteer' %}" 
        class="menu-item {% if request.resolver_match.url_name == 'signup_volunteer' %}active{% endif %}">
        Volunteer
        </a>
    </div>
    {% if app_type == 'H' and h_app_closed and not is_sposnor_form %}
        <h1>Applications are closed</h1>
        {% include 'include/applications_closed.html' %}
        <a class="btn btn-default btn-block"
           href="{% url 'account_login' %}">{% trans "Log in " %}</a>
    {% elif app_type == 'V' and h_app_volunteer_closed and not is_sposnor_form %}
        <h1>Applications are closed</h1>
        {% include 'include/applications_closed.html' %}
        <a class="btn btn-default btn-block"
            href="{% url 'account_login' %}">{% trans "Log in " %}</a>
    {% elif app_type == 'M' and h_app_mentor_closed and not is_sposnor_form %}
        <h1>Applications are closed</h1>
        {% include 'include/applications_closed.html' %}
        <a class="btn btn-default btn-block"
            href="{% url 'account_login' %}">{% trans "Log in " %}</a>
    {% else %}
        {% if app_type == 'H' and h_app_timeleft and not is_sposnor_form %}
        <h1>Sign up as a Hacker</h1>
        <p class="lead">Application deadline:{% include 'include/deadline_countdown.html' %}</p>
        {% endif %}
        {% if app_type == 'V' and h_app_volunteer_timeleft and not is_sposnor_form %}
        <h1>Sign up as a Volunteer</h1>
        <p class="lead">Application deadline:{% include 'include/deadline_countdown.html' with timeleft=h_app_volunteer_timeleft %}</p>
        {% endif %}
        {% if app_type == 'M' and h_app_mentor_timeleft and not is_sposnor_form %}
        <h1>Sign up as a Mentor</h1>
            <p class="lead">Application deadline:{% include 'include/deadline_countdown.html' with timeleft=h_app_mentor_timeleft %}</p>
        {% endif %}

        <form action="" method="post" class="form">
            {% csrf_token %}
            {% bootstrap_form form  %}
            {% if not is_sposnor_form %}
	              <p class="team-info team-info-margin"><i class="fa-solid fa-triangle-exclamation"></i> <strong>Remember!</strong> Your team members still have to register separately.</p>
            {% endif %}
            {% if captcha_site_key %}
                <script src='https://www.google.com/recaptcha/api.js'></script>
                <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
            {% endif %}
            <button class="btn btn-primary btn-block" type="submit">{% trans "Sign Up" %}</button>
            {%  if h_oauth_providers.mlh and h_oauth_providers.mlh.id and h_oauth_providers.mlh.auth_url %}

                <a class="btn btn-warning btn-block" href="{{ h_oauth_providers.mlh.auth_url }}?client_id={{ h_oauth_providers.mlh.id }}&redirect_uri={{ request.scheme }}://{{ request.get_host }}{% url 'callback' 'mlh' %}&response_type=code&scope={{ h_oauth_providers.mlh.scope }}">
                    Sign up with MLH
                </a>
            {% endif %}
        </form>
        {% if not is_sposnor_form %}
            <a class="btn btn-block"
               href="{% url 'account_login' %}">{% trans "...or log in if you already have an account " %}</a>
        {% endif %}

    {% endif %}

{% endblock %}
