{% if reimbursement %}
    {% if reimbursement.expired %}
        <div class="alert alert-danger lead">
            Status: <b>{{ reimbursement.get_status_display }}</b>
        </div>
    {% elif reimbursement.is_accepted or reimbursement.has_friend_submitted %}
        <div class="alert alert-warning lead">
            Status: <b>{{ reimbursement.get_status_display }}, Pending Demo</b>
        </div>
    {% elif reimbursement.is_finalized %}
        <div class="alert alert-success lead">
            Status: <b>{{ reimbursement.get_status_display }}</b>
        </div>
    {% else %}
        <div class="alert alert-warning lead">
            Status: <b>{{ reimbursement.get_status_display }}</b>
        </div>
    {% endif %}
    <hr>
{% endif %}
