{% load static %}
<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="" name="reimbursement_form">
    {% csrf_token %}
    {% if form %}
        {% include 'include/bootstrap_form.html' %}
    {% endif %}
    <small><span style="color: red">*</span>Indicates required field</small>

    <button class="btn btn-success btn-block" type="submit">Submit receipt</button>
</form>


<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>

<script>

    $(document).ready(function () {
            fetch('{% static 'cities.json' %}')
            .then((response) => response.json())
            .then((json) => {
                let cities_dict = {};
                $("#id_origin").typeahead({
                    minLength: 3,
                    source: function (query, process) {
                        // read from cities.json and check if the query matches any city
                        var matches = [];
                        // find the strings starting with the query
                        $.each(json, function (i, city) {
                            if (city.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                                matches.push(city);
                            }
                        });
                        return process(matches);
                    }
                });
            });
            var multiple_hacker = $('#id_multiple_hackers');
            var teammates = $('#id_friend_emails');
            conditional_field(teammates, multiple_hacker, function () {
                return multiple_hacker.prop("checked");
            });


        }
    )

</script>
