.c3-axis-y text {
   fill: #000000;
}
.c3-axis-x text {
    fill: #000000;
}
.c3-legend-item {
    fill: #000000;
}
.c3 .c3-axis line, .c3 .c3-axis path {
    stroke: #000000;
}
.c3-tooltip tr {
    color: #222222;
}
