{% extends 'base_email.html' %}
{% block preheader %}Upload your travel tickets{% endblock %}

{% block content %}
<p> Hey {{ app.user.get_full_name }},</p>
<br>
<p>For us to accept your travel reimbursement request, you need to upload VALID travel tickets in <a
        href="https://my.hackupc.com/reimbursement/dash_board/">https://my.hackupc.com/reimbursement/dash_board/</a>.
</p>
<p>A ticket is considered valid if and only if:</p>
<ul>
    <li>The receipts are in the name of the participant requesting the reimbursement.</li>
    <li>It includes a detailed price breakdown, the purchase date, and the travel dates, clearly indicating which costs
        correspond to the travel itself and which relate to additional services (e.g. extra luggage).</li>
    <li>The travel dates are within one week before or one week after the event.</li>
    <li>The ticket is uploaded before the start of the event.</li>
</ul>

{% include 'mails/include/email_button.html' with text='Upload tickets' url=form_url %}

{% include 'mails/include/closing.html' with travel="true" %}
{% endblock %}