{% load static %}
<style>
    #id_under_age > div, #id_tshirt_size > div, #id_graduation_year > div, #id_team > div, #id_first_timer > div,
    #id_scholarship > div, #id_reimb > div, #id_first_time_volunteer > div, #id_which_hack > div, #id_attendance > div,
    #id_english_level > div, #id_first_time_mentor > div , #id_study_work > div, #id_online > div{
        display: inline-block;
        padding-right: 20px;
        margin-bottom: 0;
        margin-top: 0;
        font-weight: 400;
        vertical-align: middle;
        cursor: pointer;
    }

</style>
<form class="signup " enctype="multipart/form-data" id="signup_form" method="post" action="">
    {% csrf_token %}
    {% include 'include/bootstrap_form.html' %}
    <small><span style="color: red;">*</span> Indicates required field.</small>
    <div style="padding: 15px; text-align: center;">
      {% if is_hacker %}
      <div style="background-color: #fff3cd; padding: 15px; border-radius: 5px; display: inline-block; border: 1px solid #ffeeba;">
        <p class="team-info" style="margin: 0; color: #856404;">
          <i class="fa-solid fa-triangle-exclamation" style="color: #856404;"></i> <strong>Remember!</strong> Your team members still have to apply separately.
        </p>
      </div>
      {% endif %}
    </div>
    <p id="error_message" style="display: none;"></p>

    {% if not application or application.can_be_edit %}
        <button class="btn btn-success btn-block" type="submit" {% if application and not application.can_be_edit %} disabled {% endif %}>{% if application %}Update application{% else %}
            Submit application{% endif %}</button>

    {% endif %}
</form>

<link href='https://fonts.googleapis.com/css?family=Silkscreen' rel='stylesheet'>
<script src="{% static 'lib/typeahead.min.js' %}"></script>
<script src="{% static 'js/form_modifiers.js' %}"></script>
<!-- <script type="text/javascript" src=""></script> -->

<script>

    function updateCounter(description, description_remaining, max_length) {

        if(description.val() == undefined) return;
        var current = description.val().length;
        if(max_length >= current && current >= max_length-50){
             description_remaining.style.color = "#f77f00";
             description.parent().removeClass('has-error');
        }
        else{
            description_remaining.style.color = "";
                if(current > max_length){
                
                description.parent().removeClass('has-success');
                description.parent().addClass('has-error');
                
            } else {
            description.parent().removeClass('has-error');

        }
    } 
        description_remaining.innerText = (current + '/' + max_length + ' characters');
    }

    $(document).ready(function () {
        make_field_typeahead('university', '{% static 'schools.json' %}');
        make_field_typeahead('degree', '{% static 'degrees.json' %}');

        fetch('{% static 'cities.json' %}')
        .then((response) => response.json())
        .then((json) => {

            let cities_dict = {};
            $("#id_origin").typeahead({
                minLength: 3,
                source: function (query, process) {
                    // read from cities.json and check if the query matches any city
                    var matches = [];
                    // find the strings starting with the query
                    $.each(json, function (i, city) {
                        if (city.toLowerCase().indexOf(query.toLowerCase()) !== -1) {
                            matches.push(city);
                        }
                    });
                    return process(matches);
                }
            });
        });

        

        // Changing styles so that the sections (fieldsets) are in blocks
        var sections = $('fieldset');
        
            // Chaging styles to sections
        sections.each(function (index, section) {
                            
            if (section.innerText.includes('Education Info') || section.innerText.includes('Background Info') || section.innerText.includes('Voluntariado')) {
                section.style.border = '1px solid #007bff';
                section.style.borderRadius = '10px';
                section.style.padding = '15px';
                section.style.marginBottom = '15px';
                section.style.backgroundColor = '#e7f3ff';
            } else if (section.innerText.includes('Personal Info') || section.innerText.includes('Información Personal')) {
                section.style.border = '1px solid #28a745';
                section.style.borderRadius = '10px';
                section.style.padding = '15px';
                section.style.marginBottom = '15px';
                section.style.backgroundColor = '#e6f7e6';
            } else if (section.innerText.includes('Logistics Info')) {
                section.style.border = '1px solid #ffc107';
                section.style.borderRadius = '10px';
                section.style.padding = '15px';
                section.style.marginBottom = '15px';
                section.style.backgroundColor = '#fff8e1';
            } else if (section.innerText.includes('Hackathons') || section.innerText.includes('Otras Preguntas')) {
                section.style.border = '1px solid #dc3545';
                section.style.borderRadius = '10px';
                section.style.padding = '15px';
                section.style.marginBottom = '15px';
                section.style.backgroundColor = '#ffe6e6';
            } else if (section.innerText.includes('Show us') || section.innerText.includes('Intereses')) {
                section.style.border = '1px solid #17a2b8';
                section.style.borderRadius = '10px';
                section.style.padding = '15px';
                section.style.marginBottom = '15px';
                section.style.backgroundColor = '#e6f7f8';
            } else if (section.innerText.includes('Policies') || section.innerText.includes('Políticas')) {
                section.style.border = '1px solid #6f42c1';
                section.style.borderRadius = '10px';
                section.style.padding = '15px';
                section.style.marginBottom = '15px';
                section.style.backgroundColor = '#f3e6ff';
            }

            var title = $(section).find('div').first().find('h3');
            title.css('font-family', 'Silkscreen, sans-serif');
            // Making sections collapsible - Commented out for further testing
            /*
            title.css('cursor', 'pointer');
            title.css('user-select', 'none');
            
            title[0].addEventListener('click', function () {
                this.classList.toggle('active');
                var fieldset = this.closest('fieldset');
                var content = $(fieldset).children().not(':first'); 
                
                content.each(function () {
                    var isVisible = $(this).css('display') === 'block';
                    $(this).css('display', isVisible ? 'none' : 'block');
                });
            });           
            */ 
        });
        
        // Handles the sending of the form --> Expands sections with errors - Commented out for further testing
        /*
        document.querySelector("#signup_form > button").addEventListener('click', function () {
            var sections = document.querySelectorAll('fieldset');
            sections.forEach(function (section) {
                var title = section.querySelector('div');
                var content = $(section).children().not(':first');
                var hasError = section.querySelector('.has-error');
                var hasEmptyFields = Array.from(section.querySelectorAll('input, select, textarea')).some(function (input) {
                    if (input.type === 'radio') {
                        return Array.from(document.querySelectorAll('input[name="' + input.name + '"]')).every(function (radio) {
                            return !radio.checked;
                        });
                    }
                    else if (input.type === 'checkbox') {
                        return !input.checked && input.required;
                    }
                    else if (input.type === 'file') {
                        return input.files.length === 0 && input.required;
                    }
                    else if (input.type === 'select-one') {
                        return input.value === '' && input.required;
                    }
                    return input.value === '' && input.required;
                });

                if (hasError || hasEmptyFields) {
                    console.log('hasError', hasError);
                    console.log('hasEmptyFields', hasEmptyFields);
                    if (content.css('display') === 'none') {
                        title.click();
                    }
                }
                //Show an error message on error_message p in red
                if (hasError || hasEmptyFields) {
                    var errorMessage = document.querySelector("#error_message");
                    errorMessage.style = 'display: block; color: #8f1007; font-weight: bold; background-color: #f8d7da; border-color: #f5c6cb; padding: 10px; margin-bottom: 15px; border: 1px solid transparent; border-radius: 4px; text-align: center;';
                    errorMessage.innerText = '* Please correctly fill in all required fields before submitting.';
                }
                
            });
        });
        */
        

        var other_gender = $('#id_other_gender');
        var gender = $('#id_gender');
        conditional_field(other_gender, gender, () => {
            return gender.val() === 'X';
        })
            
        var online = $('input[name="online"][value="True"]');
        var face_to_face = $('input[name="online"][value="False"]');

        var other_diet = $('#id_other_diet');
        var diet = $('#id_diet');
        var hardware = $('#id_hardware');
        conditional_field(hardware, online, function () {
            return face_to_face.length > 0;
        }, 1);
        conditional_field(hardware, face_to_face, function () {
            return face_to_face.length > 0;
        }, 1);
        //conditional_field(diet, online, function () {
        //    return face_to_face.length > 0;
        //}, 1);
        //conditional_field(diet, face_to_face, function () {
        //    return face_to_face.length <= 0;
        //}, 1);
        conditional_field(other_diet, online, function () {
            return face_to_face.length > 0;
        }, 1);
        conditional_field(other_diet, diet, function () {
            return diet.val() === 'Others';
        }, 1);
        var diet_notice = $('#id_diet_notice');
        conditional_field(diet_notice, diet, function () {
            return diet.val() !== 'None';
        }, 2);

        var has_team = $('input[name="team"][value="True"]');
        var no_team = $('input[name="team"][value="False"]');
        var teammates = $('#id_teammates');
        conditional_field(teammates, has_team, function () {
            return has_team.prop("checked");
        }, 1);
        conditional_field(teammates, no_team, function () {
            return has_team.prop("checked");
        }, 1);

        var needs_reimb = $('input[name="reimb"][value="True"]');
        var no_reimb = $('input[name="reimb"][value="False"]');
        var reimb_amout = $('#id_reimb_amount');
        var reimb = $('#id_reimb');
        conditional_field(reimb, online, function () {
            return face_to_face.length > 0;
        }, 1);
        conditional_field(reimb, face_to_face, function () {
            return face_to_face.length > 0;
        }, 1);
        conditional_field(reimb_amout, online, function () {
            return face_to_face.length > 0;
        }, 1);
        conditional_field(reimb_amout, needs_reimb, function () {
            return needs_reimb.prop("checked");
        }, 1);
        conditional_field(reimb_amout, no_reimb, function () {
            return needs_reimb.prop("checked");
        }, 1);
        reimb.parent().addClass('required');
        reimb_amout.parent().addClass('required');

        var is_firsttime = $('input[name="first_timer"][value="True"]');
        var experienced = $('input[name="first_timer"][value="False"]');
        
        var projects = $('#projects');
        conditional_field(projects, is_firsttime, function () {
            return experienced.prop("checked");
        }, 1);
        conditional_field(projects, experienced, function () {
            return experienced.prop("checked");
        }, 1);
        
        // Making projects look like required
        projects.parent().addClass('required');

        
        function setUpCharCounterOn(elementStrId, elementCharCounterStrId){
            var element = $(elementStrId);
            var max_length = parseInt(element.attr('maxLength')); // to int 
        

            element.removeAttr('maxLength');
            // remove maxlength

            var elementCharCounter = document.querySelector(elementCharCounterStrId);

                // base case
                updateCounter(element, elementCharCounter, max_length);
                // onKeyup
                element.keyup(function () {
                    updateCounter(element, elementCharCounter, max_length);
                });
            }
            
            {% if app_type == 'H' %}            
            
                // check and display remaining characters from the textarea with id description and projects
                setUpCharCounterOn('#description', '#description_char_count');
                
                setUpCharCounterOn('#projects', '#projects_char_count');
                
            {% endif %}
            {% if app_type == 'M' %}
                setUpCharCounterOn('#id_fluent', '#fluent_char_count');
                setUpCharCounterOn('#id_experience', '#experience_char_count');
                setUpCharCounterOn('#id_why_mentor', '#why_mentor_char_count');
                setUpCharCounterOn('#id_participated', '#participated_char_count');
            {% endif %}
            // volunteer stuff
            var is_firsttime_volunteer = $('input[name="first_time_volunteer"][value="False"]');
            var experienced_volunteer = $('input[name="first_time_volunteer"][value="True"]');
            
            // mentor stuff
            // debugger;
            var is_firsttime_mentor = $('input[name="first_time_mentor"][value="True"]');
            var id_participated = $('#id_participated');
            var experienced_mentor = $('input[name="first_time_mentor"][value="False"]')
            var is_first_hackathon_mentor = $('input[name="first_timer"][value="True"]');
            var is_not_first_hackathon_mentor = $('input[name="first_timer"][value="False"]')
            var first_time_mentor =  $('#id_first_time_mentor');
            var which_hack = $('#id_which_hack');
            {% if app_type == 'V' %}
              conditional_field(which_hack, is_firsttime_volunteer, function () {
                  return is_firsttime_volunteer.prop("checked");
              });
              conditional_field(which_hack, experienced_volunteer, function () {
                  return is_firsttime_volunteer.prop("checked");
              });
            {% endif %}
            // Making projects look like required
            which_hack.parent().addClass('required');
            
            {% if app_type == 'M' %}
                
                conditional_field(first_time_mentor, is_not_first_hackathon_mentor, function () {
                    return is_not_first_hackathon_mentor.prop("checked");
                });
                conditional_field(first_time_mentor, is_first_hackathon_mentor, function () {
                    return is_not_first_hackathon_mentor.prop("checked");
                });
                conditional_field(which_hack, is_firsttime_mentor, function () {
                        return is_firsttime_mentor.prop("checked");
                    });
                conditional_field(which_hack, experienced_mentor, function () {
                    return is_firsttime_mentor.prop("checked");
                });
                conditional_field(which_hack, is_not_first_hackathon_mentor, function () {
                    return is_firsttime_mentor.prop("checked");
                });        
                conditional_field(which_hack, is_first_hackathon_mentor, function () {
                    return is_not_first_hackathon_mentor.prop("checked");
                });
                
                first_time_mentor.parent().addClass('required');
                id_participated.parent().addClass('required');

                var company_mentor = $('#id_company');
                var university_mentor = $('#id_university');
                var degree_mentor = $('#id_degree');
                var graduation_year = $('#id_graduation_year');
                var worker = $('input[name="study_work"][value="True"]');
                var student = $('input[name="study_work"][value="False"]');
                conditional_field(degree_mentor, worker, function () {
                    return worker.prop("checked");
                });
                conditional_field(degree_mentor, student, function () {
                    return worker.prop("checked");
                });
                conditional_field(university_mentor, worker, function () {
                    return worker.prop("checked");
                });
                conditional_field(university_mentor, student, function () {
                    return worker.prop("checked");
                });
                conditional_field(company_mentor, worker, function () {
                    return student.prop("checked");
                });
                conditional_field(company_mentor, student, function () {
                    return student.prop("checked");
                });
                conditional_field(graduation_year, worker, function () {
                    return worker.prop("checked");
                });
                conditional_field(graduation_year, student, function () {
                    return worker.prop("checked");
                });
                company_mentor.parent().addClass('required');
                university_mentor.parent().addClass('required');
                degree_mentor.parent().addClass('required');
                graduation_year.parent().addClass('required');

            
        {% endif %}
        {% if not application %}
            var timer;
            var clear_timer;
            var timeout = 5000; // Timout duration
            $('input,textarea').keyup(function () {
                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(saveData, timeout);

            });
            $('input[type=radio],select').change(function () {
                if (timer) {
                    clearTimeout(timer);
                }
                timer = setTimeout(saveData, timeout);

            });

            // Save data
            function saveData() {
                if (clear_timer) {
                    clearTimeout(clear_timer);
                }
                $('.saved-string').html('Saving...');
                var form_obj = {};
                var form_array = $('form').serializeArray();
                $.each(form_array, function () {
                    if (form_obj[this.name]) {
                        if (!form_obj[this.name].push) {
                            form_obj[this.name] = [form_obj[this.name]];
                        }
                        form_obj[this.name].push(this.value || '');
                    } else {
                        form_obj[this.name] = this.value || '';
                    }
                });


                // AJAX request
                $.ajax({
                    url: '{% url 'save_draft' %}',
                    type: 'post',
                    data: form_obj,
                    success: function (response) {
                        $('.saved-string').html('Saved!');
                        clear_timer = setTimeout(function () {
                            $('.saved-string').html('');
                        }, timeout)
                    }
                });
            }
        {% endif %}
        }
    )

</script>
